{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <form method="POST" name="editForm" id="editForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Task Name:</label>
            <input type="text" class="form-control" id="item", name="item" value="{{ item.item }}">
            <input type="hidden" class="form-control" id="id", name="id" value="{{ item.id }}">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="completed" {% if item.completed %}
                checked=checked
            {% endif %}> Task Status</label>
        </div>
        <button type="submit" class="btn btn-default btn-success">Submit</button>
    </form>
</div>
{% endblock content %}